<!-- - Create dynamic form for following fields
  - Text type
  - Number type
  - Slider
  - Dropdown
  - Checkbox  
  - Textarea
- We will provide interface of array with label, type, isRequired, error message, hint, isVisible attributes.
- You need to use interface for creating dynamic form -->
<!-- 
interface dynamicFormJson = [
    {
      type: string,
      label: string,
      isVisible: boolean,
      isRequired: boolean,
      errorMessage: string,
      hint: string,
    }
   ] -->
<app-dynamic-form></app-dynamic-form>
